.usersTable {
  margin-top: 35px;
 
}

.usersTable__headCell {
  background: #A61C00;
  color: white;
  font-weight: 700;
  font-size: 1.1em;
}
.usersTable__cell {
  text-align: center;
  padding: 15px 10px 15px 10px;
  font-size: 1em;
}
.usersTable__bodyCell {
  font-weight: 400;
}

.bookList__more {
  background: #ffffff;
}

.usersTable__table tbody tr:nth-child(odd) {
  background: #eee;
}
