.profileBar {
  min-width: 30%;
  padding: 35px;
  margin-top: 25px;
}

.profileBar__links {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.profileBar__btn {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  white-space: nowrap;

  background: #991313;

  padding: 0.375rem 0.75rem;
  margin: 10px;
  border: 1px solid transparent;
  border-radius: 0.25rem;

  user-select: none;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  color: white;

  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.profileBar__btn:hover {
  text-decoration: none;
  color: white;

  background: #b12323;
}

/*.profileBar__link {
  background: #991313;
  color: white;

  display:flex;
  min-width: fit-content;
  max-width: 100%;
  height: fit-content;
  white-space: 0;
  padding: 8px;
  margin-top: 10px;
  border: 0;
  border-radius: 4px;
} */
