.addCategoryPage__section {
  width: 100%;
  padding: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.addCategoryForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.addCategoryPage__list {
  list-style-type: none;
  margin-top: 60px;
}
.addCategoryPage__category {
  display: grid;
  grid-template-columns: 80% auto;
  align-items: center;
}
