.BookScreen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 95vh;
  background: url("/images/background-min.jpg");
  background-size: cover;
}

.BooksSearchbar {
  border: 12px solid #2061bc;
  border-radius: 5px;

  background: white;

  padding: 5px;
  margin: 15px;

  display: flex;
  align-items: center;
}
