.ProfileBar__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  width: 200px;
}
.ProfileBar__element {
  flex: 1;
  display: flex;
}
.ProfileBar__link {
  color: white;
  text-decoration: none;
  background: #2061bc;
  border-radius: 2px;
  padding: 5px;
  margin: 6px;
  width: 100%;
  text-align: center;
}
