* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  overflow: auto;
  background: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
}

.inputGroup {
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.textInput {
  background: #ffffff;
  padding: 5px;
  border: 1px solid #2061bc;
  border-radius: 2px;
}

.submit {
  background: #3584f4;
  border: 1px solid #126ded;
  border-radius: 3px;

  padding: 6px;
  width: 80%;
  color: white;
}

@media (max-width: 1024px) {
  .main {
    padding: 15px;
  }
}

@media (max-width: 768px) {
  html,
  body {
    font-size: 14px;
  }
}

@media (max-width: 992px) {
  html,
  body {
    font-size: 16px;
  }
}
